{% extends "base.html" %}

{% load static %}

{% block userBar %}
    <ul class="navbar-form navbar-right">
        <div class="imgWrap">
            <img class="avatarOnNav" src="{% static 'avatars/user1.png' %}" alt="">
        </div>
        <div class="textOnNav">
            <h5 class="list-group-item-heading">gabolaev</h5>
            <div class="smallctrl">
                <!--<a href="/settings">настройки</a>-->
{#                <a href="{% url 'ask:guest' %}">выход</a>#}
            </div>
        </div>
    </ul>
    <ul class="navbar-form navbar-right">
        <div class="btn-group" role="group" aria-label="...">
            <a href="{% url 'ask:new' %}">
                <button type="button" class="btn btn-success">ЗАДАТЬ ВОПРОС</button>
            </a>
        </div>
    </ul>
{% endblock %}

{% block userPanelNotLogged %}

{% endblock %}



{% block headerName %}
    <h1>
        {{ header }}
        <a class="leftline" href="{{ link }}" style="color:rgb(215,66,89)">{{ link_text }}</a>
    </h1>
{% endblock %}

{% block content %}
    {% for q in questions_list %}
        <div class="list-group">
            <a href="/questions/{{ q.id }}/" class="list-group-item">
                <figure class="imgWrap">
                    <img class="avatarOnPost" src="{% static q.author.upload %}" alt="">
                    <figcaption>{{ q.author.username }}</figcaption>
                </figure>
                <div class="txtWrap">
                    <h4 class="list-group-item-heading">{{ q.title }}</h4>
                    <h5>{{ q.date }}</h5>
                </div>
                <hr>
                <p class="questionPreviewText">{{ q.text }}</p>
                <h6> . . . </h6>
                {% for tag in q.tags.all %}
                    <span class="label label-danger">{{ tag.title }}</span>
                {% endfor %}
                <hr>
                <div class="likes">
                    <form action="" class="btn btn-default glyphicon glyphicon-thumbs-up">{{ q.likes }}</form>
                    <form action="" class="btn btn-default glyphicon glyphicon-thumbs-down">{{ q.dislikes }}</form>
                </div>
            </a>
        </div>
    {% endfor %}
    <ul class="pagination">
        {% if questions_list.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ questions_list.previous_page_number }}" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link"
                                     href="?page={{ questions_list.previous_page_number }}">{{ questions_list.previous_page_number }}</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
        {% endif %}

        <li class="page-item active">
            <a class="page-link" href="#">{{ questions_list.number }} <span class="sr-only">(current)</span></a>
        </li>

        {% if questions_list.has_next %}
            <li class="page-item"><a class="page-link"
                                     href="?page={{ questions_list.next_page_number }}">{{ questions_list.next_page_number }}</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ questions_list.next_page_number }}">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Next</a>
            </li>
        {% endif %}

    </ul>
{% endblock %}