{% extends 'base.html' %}

{% block headerName %}
    <h1>New question</h1>
{% endblock %}

{% block content %}

    <div class="main">
        <form class="form-horizontal" action="{% url 'ask:new' %}" method="post">
            {% csrf_token %}
            <div class="col-md-12">
                <fieldset>
                    {% for item in form %}
                        <div class="form-group">
                            {{ item }}
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <input type="submit" value="Ask it" class="btn btn-success"/>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
{% endblock %}
