{% extends 'base.html' %}
{% load static %}

{% block headerName %}
    <h1>Редактировать профиль</h1>
{% endblock %}

{% block content %}
    <form class="form-horizontal" action="{% url 'ask:settings' %}" method="post">
        {% csrf_token %}
        <div class="col-md-16">
                {% for item in form %}
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="login">{{ item.label }}</label>
                        <div class="col-md-4">
                            {{ item }}
                        </div>
                    </div>
                {% endfor %}
                <div class="form-group">
                    <input formnovalidate type="submit" value="Save" class="btn btn-success"/>
                </div>
        </div>
    </form>
{% endblock %}