{% extends 'base.html' %}

{% load static %}

{% block styles %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block headerName %}
    <h1>Sign up</h1>
{% endblock %}

{% block content %}
    <div class="main">
        <form class="form-horizontal" action="{% url 'ask:signup' %}" method="post">
            {% csrf_token %}
            <div class="col-md-16">
                <fieldset>
                    {% for item in form %}
                        <div class="form-group">
                            {{ item }}
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <input type="submit" value="Register" class="btn btn-success"/>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
{% endblock %}
