{% extends 'base.html' %}

{% load static %}

{% block userBar %}
{% endblock %}

{% block headerName %}
    <h1>Sign in</h1>
{% endblock %}


{% block styles %}
    <link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="main">
        <h3>Sign in, please, or <a href="{% url 'ask:signup' %}">register</a></h3>
        <form class="form-horizontal" action="/signin/?next={{ request.GET.next }}" method="post">
            {% csrf_token %}
            <div class="col-md-16">
                <fieldset>
                    {% for item in form %}
                        <div class="form-group">
                            {{ item }}
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-success"/>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
{% endblock %}
