{% extends 'base.html' %}

{% load static %}

{% block headerName %}
    <h1>Регистрация</h1>
{% endblock %}

{% block userBar %}
{% endblock %}

{% block content %}
    <form class="form-horizontal" action="{% url 'ask:signup' %}" method="post">
        {% csrf_token %}
        <fieldset>
            {% for item in form %}
                <div class="form-group">
                    <div class="col-md-6">
                        {{ item }}
                    </div>
                </div>
            {% endfor %}
            <input type="submit" value="Register" class="btn btn-success"/>
        </fieldset>
{#                    <div style="margin-bottom: 20px">#}
        {#            <div class="btn-group" role="group" aria-label="...">#}
        {#                <a href="{% url 'ask:newest' %}" style="text-decoration: none">#}
        {#                    <button type="button" class="btn btn-success">Сохранить</button>#}
        {#                </a>#}
        {#            </div>#}
        {#            <div class="btn-group" role="group" aria-label="...">#}
        {#    <a href="{% url 'ask:guest' %}"> TODO#}
        {#                <button type="button" class="btn btn-danger">Отмена</button>#}
        {#    </a>#}
        {#            </div>#}
        {#        </div>#}
    </form>
{% endblock %}